.contact-slide1 {
  padding: 100px 0;
}

.contact-slide1-row1 h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.contact-slide2 {
  padding: 60px 0 200px;
}

.contact-slide2-row1 {
  grid-template: auto / repeat(2, 1fr);
  grid-gap: 6vw;
}

.contact-icon {
  max-width: 20%;
  margin: 0 auto 40px;
}
