.footer-div {
  padding: 80px 0;
}

.footer-wrapper {
  grid-template: auto / 1fr 1fr 2fr;
  margin-bottom: 80px;
}

.social-media {
  text-align: right;
}

.social-media i {
  font-size: 40px;
  margin-left: 20px;
}

.footer-inform h3 {
  font-size: 16px;
  margin-bottom: 14px;
}

.footer-inform li {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 12px;
}
