.header {
  position: sticky;
  top: 0;
  z-index: 1111111111;
}

.header-div {
  padding: 4px 0;
}

.header-wrapper {
  justify-content: space-between;
  margin: 0 -10px;
}

.align-center {
  align-items: center;
}

.logo-a-tag {
  padding: 10px;
}

.logo-wrapper {
  font-size: 24px;
}

.logo-wrapper p {
  margin-left: 12px;
}

.header-right-col .item {
  margin-left: 32px;
}

.header-right-col .item a {
  padding: 10px;
  font-size: 14px;
  transition: color 0.2s;
}

.header-right-col .item a:hover {
  color: rgb(255, 250, 243);
}

.cart-icon:hover {
  color: rgb(255, 250, 243);
}

.header-right-col .item a.white-text {
  color: #fffaf3;
}

.hamburger {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.hamburger:hover {
  color: rgb(255, 250, 243);
}

.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background-color: #1a1a1a;
  z-index: 1111111111;
  padding: 20vh 0;
}

.header-res-bg {
  display: none;
}

.dark-bg-responsive {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(9, 9, 9, 0.4);
}

.active .flex-column div.item {
  margin: 0;
  width: 100%;
}

.active .flex-column div.item a {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.active .flex-column div.item a:hover {
  background-color: #161616;
}

.cart-item:hover {
  background-color: #161616;
}

.hidden-cart i.text-align-center {
  color: rgba(255, 250, 243, 0.6);
  margin-top: 20vh;
  font-size: 14px;
}

.cart-icon .notice-dot-wrapper {
  top: 0;
  right: 0;
  transform: translate(-32%, 32%);
}

.cart-icon .notice-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ba1a1a;
}

.cart-amount {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 14px;
  color: #fffaf3;
}

.trash-can {
  color: rgba(255, 250, 243, 0.6);
  transition: color 0.2s;
  padding: 10px;
}

.trash-can:hover {
  color: #fffaf3;
}
