.colorful-text {
  font-size: 24px;
}

.pd-top-bttm-200 {
  padding: 200px 0;
}

/* .slide1 {
  padding: 72px 0 528px;
} */

/* .home-h1 {
  margin-bottom: 40px;
  font-size: 72px;
  letter-spacing: 4px;
  line-height: 80px;
} */

.intro-text {
  margin-bottom: 28px;
}

.see-more-btn {
  background-color: inherit;
  border: 1px solid rgba(255, 250, 243, 0.6);
  padding: 20px;
  width: 50%;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  transition: background-color 0.4s;
}
.see-more-btn:hover {
  background-color: rgba(255, 250, 243, 0.1);
}

/* .row1-slide1 {
  grid-template: auto / 3fr 2fr;
  grid-gap: 40px;
} */

.home-s1-bg-div {
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  max-height: 100vh;
  height: 100%;
}

.home-s1-ell {
  background: #132eb3;
  width: 92px;
  height: 380px;
  left: 20%;
}

/* .home-s1-bg-grid {
  grid-template: auto / 6fr 5fr;
  grid-gap: 40px;
} */

.home-s1-jellyfish-wrapper {
  max-width: 800px;
  width: 100%;
  transform: rotate(24deg);
  top: -64%;
  left: 48%;
}

.home-s1-jellyfish {
  background-size: contain;
}

.row1-slide2 {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  grid-template: auto / 7fr 4fr;
  grid-gap: 40px;
}

.intro-para {
  font-size: 20px;
  line-height: 32px;
}

.slide2-intro-text .colorful-text {
  margin-bottom: 4px;
}

.slide2-intro-text h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 40px;
}

.bg-wrapper-slide2 div.background-text {
  font-size: 280px;
  right: -40%;
  transform: translate(0, -64%);
}

.slide2-dot1 {
  width: 300px;
  height: 300px;
  left: 16%;
  transform: translate(0, -180%);
}

.slide2-dot2 {
  width: 400px;
  height: 400px;
  left: -8%;
  transform: translate(0, -156%);
}

.row1-slide3 {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.row1-slide3-wrapper {
  grid-template: auto / 3fr 1fr 3fr;
  grid-gap: 40px;
}

.slide3-text-middle {
  top: -12%;
}

.slide3-text-middle div:nth-child(2) {
  padding: 20px 0 10px;
}

.slide3-text-middle div:nth-child(3) {
  max-width: 40px;
  width: 100%;
  margin: 0 auto;
}

.slide3-text-middle h2 {
  padding: 32px 0 48px;
  font-size: 28px;
}

.slide3-img-wrapper div:nth-child(2) {
  padding: 64px 0 10px;
}

.slide3-img-wrapper h3 {
  width: 72%;
  margin: 0 auto;
  font-size: 28px;
}

.slide3-dot1 {
  width: 500px;
  height: 500px;
  left: 80%;
  transform: translate(0, 56%);
}

.slide3-dot2 {
  width: 300px;
  height: 300px;
  left: 44%;
  transform: translate(0, 40%);
}

.slide4 {
  padding: 32px 0 140px;
}

.row1-slide4 {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.row1-slide4-wrapper h2 {
  font-size: 40px;
  margin-bottom: 72px;
}

.check-this-out-text {
  font-size: 28px;
  margin-bottom: 10px;
}

.slide4-small-text {
  margin-bottom: 80px;
}

.fish {
  margin: 0 -24px;
  padding: 24px 0;
}

.fish-pd-flex {
  padding: 0 24px;
}

.fish-infor-wrapper h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.slide4-line {
  height: 1px;
  max-width: 80px;
  width: 100%;
  margin-bottom: 28px;
}

.bg-wrapper-slide4 .background-text {
  font-size: 320px;
  left: -12%;
  transform: translate(0, -56%);
}

.slide4-dot1 {
  height: 560px;
  width: 560px;
  left: -8%;
  transform: translate(0, 80%);
}

.slide4-dot2 {
  height: 240px;
  width: 240px;
  left: 32%;
  transform: translate(0, 180%);
}

.slide5-container {
  max-width: 1536px;
  width: 100%;
  margin: 0 auto;
}

.row1-slide5 .colorful-text {
  margin-bottom: 10px;
}

.row1-slide5 h2 {
  font-size: 40px;
  margin-bottom: 100px;
}

.slide5-choice-grid {
  grid-template: auto / 1fr 1fr;
}

.slide5-dark-bg {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(9, 9, 9, 0.4);
  transition: backdrop-filter 0.4s;
}

.slide5-dark-bg h3 {
  transition: font-weight 0.4s, font-size 0.4s;
}

.slide5-dark-bg > .slide5-choice {
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: transform 0.4s;
}

.slide5-dark-bg:hover {
  background-color: rgba(9, 9, 9, 0.6);
  backdrop-filter: blur(10px);
}

.slide5-dark-bg:hover .slide5-choice {
  transform: translate(-50%, -45%);
}

.slide5-dark-bg:hover h3.font-weight-600 {
  font-weight: 200;
  font-size: 32px;
}

.slide5-dark-bg:hover .slide5-hidden-list {
  opacity: 1;
}

.slide5-dark-bg h3 {
  font-size: 40px;
  margin-bottom: 12px;
}

.slide5-dark-bg a.uppercase {
  padding: 20px 40px;
  border: 1px solid #fffaf3;
  font-size: 20px;
  transition: background-color 0.4s;
}

.slide5-dark-bg a.uppercase:hover {
  background-color: rgba(255, 250, 243, 0.1);
}

.slide5-hidden-list {
  opacity: 0;
  transition: opacity 0.2s;
}

.slide5-hidden-list .small-text {
  margin-bottom: 32px;
}

.slide5-infor-wrapper {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.slide5-location {
  font-size: 20px;
  margin-bottom: 8px;
}

.slide5-icon-padding {
  padding-right: 20px;
}

.bg-wrapper-slide5 .background-text {
  font-size: 280px;
  left: 42%;
  transform: translate(0, -52%);
}

.slide5-dot1 {
  width: 280px;
  height: 280px;
  left: 48%;
  transform: translate(0, 72%);
}

.slide5-dot2 {
  width: 480px;
  height: 480px;
  left: 80%;
}

.row1-slide6 h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.row1-slide6 .colorful-text {
  margin-bottom: 80px;
}

.row1-slide6 .team-image {
  margin-bottom: 100px;
}

.instructor {
  margin-bottom: 80px;
}

.instructors {
  grid-template: auto / repeat(4, 1fr);
  grid-gap: 20px;
}

.instructor h3 {
  font-size: 32px;
}

.staff-job {
  margin: 20px 0 10px;
  font-size: 18px;
  display: inline-block;
}

.hidden-speech-bg {
  background-color: rgba(9, 9, 9, 0.4);
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.hidden-speech {
  left: 0;
  right: 0;
  bottom: -40%;
  padding: 20px;
  transition: bottom 0.4s;
}

.img-wrapper:hover .hidden-speech-bg {
  opacity: 1;
}

.img-wrapper:hover .hidden-speech {
  bottom: 0;
}

.bg-wrapper-slide6 .background-text {
  font-size: 360px;
  left: -12%;
  transform: translate(0, -60%);
}

.slide6-dot1 {
  width: 320px;
  height: 320px;
  left: -12%;
  transform: translate(0, -36%);
}
