* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.flex-block {
  display: flex;
  flex-wrap: wrap;
}

.grid-block {
  display: grid;
}

.image {
  background: center no-repeat;
  background-size: cover;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  border: none;
  outline: none;
}

.blur-background-wrapper {
  backdrop-filter: blur(32px);
}

.dot {
  border-radius: 50%;
  filter: blur(220px);
  position: relative;
}

.blue {
  background-color: #132eb3;
}

.red {
  background-color: #de0a5e;
}

.yellow {
  background-color: #fdff76;
}

.purple {
  background-color: #af78c9;
}

.background-text {
  font-family: "Anton", sans-serif;
  position: relative;
  color: rgba(33, 36, 49, 0.2);
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.small-text {
  word-spacing: 2px;
  letter-spacing: 2px;
  line-height: 24px;
  font-weight: 200;
}

.middle-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 24px;
  height: 24px;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.position-rel {
  position: relative;
}

.position-abs {
  position: absolute;
}

.width-50vw {
  max-width: 50vw;
  width: 100%;
}

.width-30vw {
  max-width: 30vw;
  width: 100%;
}

.pd-top-4-3 {
  padding-top: calc(4 / 3 * 100%);
}

.pd-top-100 {
  padding-top: 100%;
}

.ellipse {
  filter: blur(100px);
  transform: rotate(-70.02deg);
}

.z-index-1 {
  z-index: 1;
}

.z-index-11 {
  z-index: 11;
  position: relative;
}

.z-index-111 {
  z-index: 111;
  position: relative;
}

.font-size-14 {
  font-size: 14px;
}

.white-color-100 {
  color: #fffaf3;
}

.white-color-80 {
  color: rgba(255, 250, 243, 0.8);
}

.white-color-60 {
  color: rgba(255, 250, 243, 0.6);
}

.black-bg-100 {
  background-color: #090909;
}

.white-bg-8 {
  background-color: rgba(255, 250, 243, 0.04);
}

.light-blue-color-100 {
  color: #80a3d6;
}

.over-flow-hidden {
  overflow: hidden;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.vertical-line {
  max-width: 1px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(153, 158, 188, 0.2);
}

.horizontal-line {
  height: 1px;
  background-color: rgba(153, 158, 188, 0.2);
}
